<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- LINK DO TOASTIFY -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" 
    />
</head>

<body class="flex justify-center items-center relative h-screen w-screen">   

    <div class="absolute inset-0 filter blur-sm bg-center flex justify-center items-center">

        <img class="h-screen w-screen object-cover" src="/app/view/imagens/planta.jpg" alt="imagem folhas">

    </div>

    <div class="mx-auto max-w-md bg-white md:max-w-2xl rounded-xl shadow-md overflow-hidden relative">

        <div class="md:flex">

            <div class="md:shrink-0 hidden md:flex">
                
                <img class="h-28 sm:h-48 w-full object-cover md:h-full md:w-48" src="/app/view/imagens/plantas2.jpg" alt="imagem planta">
    
            </div>
    
            <div class="p-5">
                
                <h1 class="py-2 font-bold text-2xl sm:text-3xl md:text-4xl text-center">
                    Cadastre-se!
                </h1>

                <form action="/cadastro/submit" method="POST" autocomplete="on" >
                    
                    <div class="flex items-center justify-center py-2">
                        <label class="text-green-600 drop-shadow-md" for="username">Usuário:</label><br>
                        <input class="ml-2 border rounded-md focus:outline-none p-2 w-52 drop-shadow-md" type="text" id="username" name="username" required placeholder="Nome de usuário">
                    </div>
    
                    <div class="flex items-center justify-center py-2">
                        <label class="text-green-600 drop-shadow-md" for="email">Email:</label><br>
                        <input class="ml-2 border rounded-md focus:outline-none p-2 w-52 drop-shadow-md" type="email" id="email" name="email" required placeholder="Email">
                    </div>
    
                    <div class="flex items-center justify-center py-2">
                        <label class="text-green-600 drop-shadow-md" for="senha">Senha:</label><br>
                        <input class="ml-2 border rounded-md focus:outline-none p-2 w-52 drop-shadow-md" type="password" id="senha" name="senha" required placeholder="Senha">
                    </div>
    
                    <div class="flex items-center justify-center py-2">
                        <label class="text-green-600 drop-shadow-md" for="nome_completo">Nome:</label>
                        <input class="ml-2 border rounded-md focus:outline-none p-2 w-52 drop-shadow-md" type="text" id="nome_completo" name="nome_completo" required placeholder="Nome completo">
                    </div>
    
                    <div class="flex flex-row justify-evenly my-4 ">
                        
                        <div onclick="cadastrar()" class="flex cursor-pointer justify-center text-md text-green-700 py-2  font-bold hover:bg-green-200 p-5 rounded-xl duration-700 ease-out-ease">
                            <input class="cursor-pointer" type="submit" name="cadastrar" value="Cadastrar">
                        </div>   
                        
                        <a class="flex justify-center text-md text-green-700 py-2 font-bold hover:bg-green-200 p-5 rounded-xl duration-700 ease-out-ease" href="/login">Voltar</a>
                        
                    </div>  
                    
                    <div id="msgCadastro" class="text-green-700 py-2 text-center transition duration-100 ease-out">

                    </div>
                </form>      
            </div>
        </div>        
    </div>


    <!-- FAZER TESTES COM O TOASTIFY -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>

    <script>

        Toastify({
        text: "Ops o restaurante está fechado!",
        duration: 3000,
        close: true,
        gravity: "top", // `top` or `bottom`
        position: "right", // `left`, `center` or `right`
        stopOnFocus: true, // Prevents dismissing of toast on hover
        style: {
            background: "#ef4444",
        },
        }).showToast();
        return;

        // -----------------------------------------------    
        
        // function cadastrar(){ // VERIFICAR - APAGAR?
        //     let msgCadastro = document.getElementById("msgCadastro");
        //     msgCadastro.innerText = "Cadastro realizado com sucesso!";
        // }
    </script>
</body>
</html>